@import '@/app/styles/mixins/decorators.less';

.forgotPasswordPage {
  .border();
  .shadow(0, 2px, 8px);

  color: var(--primary-color);
  font: var(--font-xs);
  width: 100%;
  border-radius: var(--border-radius-l);
  margin-top: 8px;
  background-color: var(--bg-color);

  &__header {
    text-align: start;
    padding: 24px 24px 16px;
  }

  &__title {
    font: var(--font-l);
    font-weight: var(--font-bold);
    padding-bottom: 24px;
  }

  &__description {
    color: var(--muted-color);
  }
}
