# Dependencies
node_modules

# Build artifacts
dist
*.tsbuildinfo

# Environment files
.env
.env.development
.env.production

# Development files
.git
.gitignore
README.md
*.md

# Tests
.loki
cypress
tests
*.test.*
*.spec.*
*.snap

# Logs
*.log
npm-debug.log*


# IDE
.vscode
.idea
