@import '@/app/styles/mixins/interactive';
@import '@/app/styles/mixins/container';
@import '@/app/styles/variables/global';

.select {
  position: relative;
  appearance: none;

  &__menu {
    //.border();
    .shadow(0, 2px, 4px);

    border-radius: var(--border-radius-l);
    background-color: var(--card-bg-color);
    position: absolute;
    z-index: var(--z-category-filters);
    top: calc(100% + 4px);
    left: 0;
    width: max-content;
    padding: 2px;
  }

  &__menuItem {
    &_button {
      .flex(row, center, start);

      background-color: var(--card-bg-color);
      gap: 4px;
      border: none;
      width: 100%;
      font-weight: var(--font-bold);
      font: var(--font-xs);
      .selectable();
    }

    &:hover {
      .select__menuItem_icon {
        stroke: var(--secondary-color);
      }
    }
  }

  &__button {
    .flex();
    .hoverShadow();
    .selectableScale(1.03);
    .selectableIcon(1, var(--muted-bg-color), var(--muted-color));

    height: 100%;
    padding: 16px;
    white-space: nowrap;
    gap: 8px;
    border: none;
    font: var(--font-xs);
    color: var(--muted-color);
    background-color: var(--card-bg-color);
  }

  &__icon {
    transition: var(--transition-speed);
    transform: rotate(180deg);
    stroke: var(--muted-color);

    &_active {
      transform: rotate(0deg);
    }
  }
}
