@import '@/app/styles/mixins/container';
@import '@/app/styles/mixins/interactive.less';

.dropdownMenu {
  position: sticky;
  overflow-y: scroll;
  height: var(--mobile-adaptive-height);
  padding-bottom: 80px;
  z-index: var(--z-dropdown-menu);
  top: 0;
  background-color: var(--bg-color);
  display: none;

  &_open {
    display: block;
  }

  &__wrapper {
    .flex(column, start, start);

    gap: 20px;
    padding: 20px 32px 40px;
    font: var(--font-s);
  }

  &__item {
    .selectable(var(--hover-opacity), var(--primary-color), var(--primary-color));

    padding: 10px;
    gap: 16px;
  }

  &__themeSwitcher {
    font: var(--font-s);

    svg {
      stroke: var(--accent-color);
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
