@import '@/app/styles/mixins/decorators.less';

.logo {
  transition: var(--transition-speed);

  &:hover {
    transform: scale(1.05);
  }

  &__text {
    .gradient();
    font: var(--font-logo-l);
    font-weight: var(--font-bold);
    background-clip: text;
    color: transparent;
  }
}
