@import '@/app/styles/mixins/container.less';
@import '@/app/styles/mixins/interactive.less';

.form() {
  .flex(column);

  font: var(--font-xs);
  color: var(--primary-color);
  gap: 16px;
  padding: 0 24px 24px;
  font-weight: var(--font-bold);
}

.label {
  font: var(--font-xs);
  font-weight: var(--font-bold);
  text-align: start;
  width: 100%;
}

.input {
  width: 100%;
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius-l);
  font: var(--font-xs);
  font-weight: var(--font-regular);
  color: var(--primary-color);
  padding: 16px 12px;
  .selectableIcon(1, var(--muted-bg-color));
  border: none;

  &:hover {
    .shadow(0, 4px, 8px, 0);
    border: none;

    &:focus {
      .focusStroke();
    }
  }

  &:disabled {
    .shadow(0, 0, 0, 0);
  }
}

.error {
  color: var(--error-color);
  font-weight: var(--font-regular);
}
