.selectable(@opacity: 1, @color: var(--primary-color), @hoverColor: var(--secondary-color)) {
  cursor: pointer;
  position: relative;
  transition: var(--transition-speed);
  color: @color;

  &:hover {
    opacity: @opacity;
    color: @hoverColor;
  }
}

.selectableIcon(@opacity: 1, @background: transparent, @stroke: var(--accent-color)) {
  cursor: pointer;
  position: relative;
  transition: var(--transition-speed);

  &:hover {
    opacity: @opacity;
    background-color: @background;
    stroke: @stroke;
  }
}
