@import '@/app/styles/mixins/container';
@import '@/app/styles/variables/global';

.categoryProducts {
  margin: 0 auto;
  .grid(repeat(2, minmax(100px, 1fr)), row, 8px);

  @media @breakpoint-sm {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 12px;
  }

  @media @breakpoint-md {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }

  &__list {
    margin: 0 auto;
    .flex(column, space-between, start);
  }

  &__empty {
    width: 100%;

    &_title {
      text-align: center;
      color: var(--muted-color);
      font: var(--font-xs);
      font-weight: var(--font-bold);

      @media @breakpoint-md {
        font: var(--font-xs);
        font-weight: var(--font-bold);
      }
    }
  }
}
