@import '@/app/styles/mixins/container.less';
@import '@/app/styles/variables/global';
@import '@/app/styles/mixins/interactive.less';
@import '@/app/styles/mixins/decorators.less';

.appFooter {
  .flex(column);
  .borderTop();

  font: var(--font-xs);
  color: var(--muted-color);
  width: 100%;
  padding: 48px 16px;

  @media @breakpoint-sm {
    padding: 48px 32px;
  }

  &__sectionTitle {
    font: var(--font-s);
    font-weight: var(--font-bold);
    color: var(--primary-color);
  }

  &__socialLinks {
    .flex();

    gap: 8px;

    &_icon {
      padding: 8px;
      width: 32px;
      height: 32px;
      .selectableIcon(1, var(--accent-bg-color), var(--accent-color));
      .border();

      border-radius: var(--border-radius-l);
    }
  }

  &__socialLink {
    display: flex;
  }

  &__info {
    .grid(1fr, row, 32px);

    max-width: var(--max-page-width);
    margin: 0 auto 32px;
    width: 100%;

    @media @breakpoint-sm {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media @breakpoint-lg {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    &_section {
      .flex(column, start, start);

      gap: 16px;
    }
  }

  &__menu {
    .flex(column, start, start);

    gap: 8px;

    &_item {
      .selectable(1, var(--muted-color));
    }
  }

  &__contacts {
    &_item {
      .flex();

      gap: 8px;
      white-space: pre-line;

      svg {
        stroke: var(--secondary-color);
      }
    }
  }

  &__docs {
    width: 100%;
    .borderTop();
  }

  &__docsContainer {
    .flex(column, start, start);
    max-width: var(--max-page-width);
    margin: 0 auto;
    gap: 16px;
    width: 100%;
    padding-top: 32px;
    @media @breakpoint-sm {
      .flex(row, center, space-between);
    }
  }

  &__docLinks {
    .flex(column, start, start);

    gap: 16px;

    @media @breakpoint-sm {
      .flex(row, center, space-between);
    }
  }
}
