@import 'reset.less';
@import 'variables/global.less';
@import 'themes/dark.less';
@import 'themes/light.less';
@import 'animations/button-theme';
@import 'animations/switch-theme';
@import 'animations/skeleton';
@import 'animations/loader';
@import 'mixins/container';
@import 'mixins/decorators';
@import 'mixins/form-elements';
@import 'mixins/interactive';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.app {
  min-width: var(--min-page-width);
  min-height: 100vh;
  background: var(--bg-color);
  font: var(--font-xs);
  font-weight: var(--font-regular);
  color: var(--primary-color);
  position: relative;
  padding-bottom: var(--mobile-navbar-height);

  @media @breakpoint-md {
    padding-bottom: 0;
  }
}

.contentPage {
  .flex(column);
  max-width: var(--max-page-width);
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;

  @media @breakpoint-sm {
    padding: 0 32px;
  }
}
