@import '@/app/styles/mixins/container.less';
@import '@/app/styles/mixins/interactive.less';
@import '@/app/styles/mixins/decorators.less';

.input {
  .border();

  border-radius: var(--border-radius-l);
  background-color: var(--input-bg-color);

  &::placeholder {
    color: var(--muted-color);
  }

  &:focus-visible {
    .focusStroke();
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--muted-color);
    background-color: var(--muted-bg-color);
  }

  &__wrapper {
    margin: 8px 0;
    .selectableScale(1.01);
    .flex(row, center, space-between);

    position: relative;

    &_disabled {
      .selectableScale(1);
    }
  }

  &__icon {
    .selectable();

    &:hover {
      .input:hover {
      }
    }

    position: absolute;
    left: 16px;
  }
}
