.theme_dark {
  --bg-color: #060613;
  --bg-color-header: #060613;

  --primary-color: #f2f2f2;
  --secondary-color: #4466ef;
  --accent-bg-color: #3399ff;
  --accent-color: #f2f2f2;

  --border: #252537;
  --input: #212131;

  --muted-bg-color: #181825;
  --muted-color: #a1a1aa;

  --card-bg-color: ;
  --card-color: #f2f2f2;

  --shadow-color: #6699ff40;

  --background: #0b1220;
  --foreground: #f2f2f2;

  --card: #161f2e;
  --card-foreground: #f2f2f2;

  --popover: #161f2e;
  --popover-foreground: #f2f2f2;

  --primary: #66a1ff;
  --primary-foreground: #0b1220;

  --secondary: #2b3550;
  --secondary-foreground: #e6e6e6;

  --muted: #292f4a;
  --muted-foreground: #9199b8;

  --accent: #33aaff;
  --accent-foreground: #0b1220;

  --destructive: #e65151;
  --destructive-foreground: #ffffff;

  //--border: #3A4268;
  //--input: #2F3560;
  --ring: #66a1ff;

  --sidebar-background: #121b32;
  --sidebar-foreground: #e6e6e6;
  --sidebar-primary: #66a1ff;
  --sidebar-primary-foreground: #0b1220;
  --sidebar-accent: #292f4a;
  --sidebar-accent-foreground: #e6e6e6;
  --sidebar-border: #2f3560;
  --sidebar-ring: #66a1ff;
}
