.theme_dark {
  --bg-color: #060613;
  --bg-color-rgb: 6, 6, 19;
  --bg-color-header: #060613;
  --primary-color: #f2f2f2;
  --secondary-color: #4466ef;
  --danger-color: #e23636;
  --error-color: #e23636;
  --accent-bg-color: #39f;
  --accent-color: #f2f2f2;
  --border-color-primary: #252537;
  --border-color-secondary: #f2f2f2;
  --input-bg-color: #060613;
  --input-hover-border: #39f;
  --muted-bg-color: #181825;
  --muted-color: #a1a1aa;
  --card-bg-color: #0e0e1b;
  --card-color: #f2f2f2;
  --shadow-color: #6699ff40;
  --shadow-tab-color: #6699ff20;
  --skeleton-shadow: #6699ff80;
  --skeleton-color: #25457490;
  --rating-icon-color: #facc15;
  --order-accent-color: #16a34a;

  --modal-bg-color: #060613;
  --modal-overlay-color: #00000090;

  --checkbox-toggle-bg: #a1a1aa;
  --checkbox-toggle-thumb: #181825;
  --checkbox-toggle-bg-hover: #4466ef;
  --checkbox-toggle-thumb-hover: #edf2f7;

  //пока не используется

  --background: #0b1220;
  --foreground: #f2f2f2;
  --card: #161f2e;
  --card-foreground: #f2f2f2;
  --popover: #161f2e;
  --popover-foreground: #f2f2f2;
  --primary: #66a1ff;
  --primary-foreground: #0b1220;
  --secondary: #2b3550;
  --secondary-foreground: #e6e6e6;
  --muted: #292f4a;
  --muted-foreground: #9199b8;
  --accent: #3af;
  --accent-foreground: #0b1220;
  --destructive: #e65151;
  --destructive-foreground: #fff;

  //--border: #3A4268;
  //--input: #2F3560;
  --ring: #66a1ff;
  --sidebar-background: #121b32;
  --sidebar-foreground: #e6e6e6;
  --sidebar-primary: #66a1ff;
  --sidebar-primary-foreground: #0b1220;
  --sidebar-accent: #292f4a;
  --sidebar-accent-foreground: #e6e6e6;
  --sidebar-border: #2f3560;
  --sidebar-ring: #66a1ff;
}
