.theme_light {
  --bg-color: #ffffff;
  --bg-color-rgb: 255, 255, 255;
  --bg-color-header: #ffffff;
  --primary-color: #22222a;
  --secondary-color: #003cb3;
  --danger-color: #e23636;
  --error-color: #e23636;
  --accent-bg-color: #1f99f9;
  --accent-color: #f6f7f9;
  --border-color-primary: #d4dae8;
  --border-color-secondary: #22222a;
  --input-bg-color: #ffffff;
  --input-hover-border: #1f99f9;
  --muted-bg-color: #edf2f7;
  --muted-color: #6d6d78;
  --card-bg-color: #f7f7f7;
  --card-color: #22222a;
  --shadow-text-banner-color: #000000;
  --shadow-color: #00000026;
  --shadow-tab-color: #00000015;
  --skeleton-shadow: #00000026;
  --skeleton-color: #dddddd;
  --benefit-color: #16933a;

  --modal-bg-color: #ffffff;
  --modal-overlay-color: #00000090;

  --checkbox-toggle-bg: #999999;
  --checkbox-toggle-thumb: #edf2f7;
  --checkbox-toggle-bg-hover: #003cb3;
  --checkbox-toggle-thumb-hover: #ffffff;

  --rating-icon-color: #facc15;
  --cpu-icon-color: #3b82f6;
  --gpu-icon-color: #22c55e;
  --motherboard-icon-color: #a855f7;
  --ram-icon-color: #f97316;
  --storage-icon-color: #06b6d4;
  --psu-icon-color: #eab308;
  --cooler-icon-color: #14b8a6;
  --case-icon-color: #a1a1aa;

  --scrollbar-bg-color: #edf2f7;
  --scrollbar-color: #305cd3;
  --scrollbar-hover-color: #3b82f6;

  --banners-gradient-colors: transparent, #00000040;
}
