@import '@/app/styles/mixins/container';
@import '@/app/styles/variables/global';
@import '@/app/styles/mixins/decorators';
@import '@/app/styles/mixins/interactive';

.paymentSuccessPage {
  .flex(column, center);

  text-align: center;
  width: 100%;

  &__mainContainer {
    max-width: var(--max-payment-success-width);
  }
}
