@import '@/app/styles/variables/global';
@import '@/app/styles/mixins/interactive';
@import '@/app/styles/mixins/form-elements';

.search {
  .selectableScale(1.03);
  position: relative;

  &__input {
    font-weight: var(--font-regular);
    color: var(--primary-color);
    padding: 8px 12px;
    width: 100%;
    height: 60px;
    .selectableIcon(1, var(--muted-bg-color));
    .selectableBorder(none, none);
    border: none;
    background-color: var(--card-bg-color);

    &:hover {
      border: none;
    }
  }

  &__icon {
    min-width: var(--icon-size-m);
    min-height: var(--icon-size-m);

    @media @breakpoint-md {
      position: absolute;
      top: 8px;
      right: 16px;
      min-width: var(--icon-size-s);
      min-height: var(--icon-size-s);
    }
  }
}
