@import '@/app/styles/variables/global.less';
@import '@/app/styles/mixins/interactive.less';

.search {
  position: relative;

  &__input {
    padding: 8px 40px 8px 16px;
    width: 100%;
    color: var(--primary-color);
  }

  &__icon {
    min-width: var(--icon-size-m);
    min-height: var(--icon-size-m);

    @media @breakpoint-md {
      position: absolute;
      top: 8px;
      right: 16px;
      min-width: var(--icon-size-s);
      min-height: var(--icon-size-s);
    }
  }
}
