@import '@/app/styles/mixins/container';
@import '@/app/styles/mixins/interactive';
@import '@/app/styles/variables/global';

.configuratorComponents {
  .flex(column, space-between, center);
  gap: 16px;

  &__emptyComponent {
    .grid(60px 1fr min-content, row, 16px);
    .border(2px, dashed);
    .selectable(var(--hover-opacity), var(--primary-color), var(--primary-color));
    .selectableBorder();
    justify-content: space-between;
    border-radius: var(--border-radius-l);
    background-color: var(--card-bg-color);
    padding: 24px 12px;

    @media @breakpoint-sm {
      padding: 24px;
    }

    &_typeIcon {
      width: 32px;
      height: 32px;
      stroke: var(--muted-color);
      justify-self: center;
    }

    &_actionIcon {
      align-self: center;
    }

    &_title {
      font: var(--font-s);
      font-weight: var(--font-bold);
    }

    &_description {
      color: var(--muted-color);
    }

    &_link {
    }
  }

  &__component {
    .selectable(var(--hover-opacity), var(--primary-color), var(--primary-color));
  }
}
